<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<configsections>
		--><!-- for more information on entity framework configuration, visit http://go.microsoft.com/fwlink/?linkid=237468 --><!--
		<section name="entityframework"
		   type="system.data.entity.internal.configfile.entityframeworksection, entityframework, version=4.3.0.0, culture=neutral, publickeytoken=b77a5c561934e089" />
	</configsections>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>
